<settings>
    <profiles>
        
        
         <!-- Profiles configuration -->
        <!-- The configuration of the development profile -->
        <profile>
            <id>dev</id>
            <!-- The development profile is active by default -->
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <!--
                    Specifies the build.profile.id property that must be equal than the name of
                    the directory that contains the profile specific configuration file.
                    Because the name of the directory that contains the configuration file of the
                    development profile is dev, we must set the value of the build.profile.id property to dev.
                -->
                <build-profile-id>dev</build-profile-id>
            </properties>
            
            
            <properties>
                <username>admin</username>
                <password>password</password>
            </properties>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>dev</id>
          <name>libs-release-local-1</name>
          <url>http://ec2-34-226-147-221.compute-1.amazonaws.com:8081/artifactory/libs-release-local-1</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>dev</id>
          <name>plugins-release</name>
          <url>http://ec2-34-226-147-221.compute-1.amazonaws.com:8081/artifactory/plugins-release</url>
        </pluginRepository>
      </pluginRepositories>
            
        </profile>
  </profiles>
 

    <servers>
    <server>
     <username>${user}</username>
        <password>${password}</password>
      <id>central</id>
    </server>
    <server>
      <username>${user}</username>
        <password>${password}</password>
      <id>snapshots</id>
    </server>
  </servers>

     <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
    
</settings>
