<settings>
    <profiles>
    <profile>
        <id>artifactory</id>
            <properties>
                <username>admin</username>
                <password>password</password>
            </properties>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>libs-release-local</name>
          <url>http://ec2-34-226-147-221.compute-1.amazonaws.com:8081/artifactory/libs-release-local</url>
        </repository>
        <repository>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <id>snapshots</id>
          <name>libs-snapshot-local</name>
          <url>http://ec2-34-226-147-221.compute-1.amazonaws.com:8081/artifactory/libs-snapshot-local</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>plugins-release</name>
          <url>http://ec2-34-226-147-221.compute-1.amazonaws.com:8081/artifactory/plugins-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>plugins-snapshot</name>
          <url>http://ec2-34-226-147-221.compute-1.amazonaws.com:8081/artifactory/plugins-snapshot</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
 

    <servers>
    <server>
     <username>${user}</username>
        <password>${password}</password>
      <id>central</id>
    </server>
    <server>
      <username>${user}</username>
        <password>${password}</password>
      <id>snapshots</id>
    </server>
  </servers>

     <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
    
</settings>
